
<h1>Listing Memberships</h1>

<table class="table table-bordered">
  <thead>
    <tr>
	
      <th>Date created</th>
      <th>Expiry date</th>
      <th>Length (In Years)</th>
      <th>Price paid</th>
      <th>Customer</th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.date_created %></td>
        <td><%= membership.expiry_date %></td>
        <td><%= membership.length %></td>
        <td><%= euro membership.price_paid %></td>
        <td><%= membership.customer.name %></td>
        <td><%= link_to 'Show', membership %>
        <%= link_to 'Edit', edit_membership_path(membership) %>
        <%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
