<%= form_for @customer, :html => {:class => "form-horizontal"} do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %><br>
  </div>
  <div class="controls">
    <%= f.text_field :name, placeholder: "Enter your name" %>
  </div>
  <div class="control-group">
    <%= f.label :surname, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.text_field :surname, placeholder: "Enter your surname" %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.text_field :address, placeholder: "Enter your address" %>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => "control-label" %><br>
	</div>
    <div class="controls">
    <%= f.date_select :date_of_birth, :start_year=>1920, :end_year => Time.now.year-18 %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.text_field :phone, placeholder: "Enter your phone number" %>
  </div>
   <div class="control-group">
    <%= f.label :emergency_number, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.text_field :emergency_number, placeholder: "Enter an Emergency Number" %>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.text_field :username, placeholder: "Give yourself a username" %>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.password_field :password, placeholder: "Enter your password" %>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
  </div>
    <div class="control-group">
    <%= f.label :email, :class => "control-label" %><br>
	</div>
    <div class="controls">
	<%= f.text_field :email, placeholder: "Enter your Email" %>
  </div>
  <p>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-info" %>
  </div>
<% end %>
