
<dl class ="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @customer.name %></dd>


  <dt><strong>Surname:</strong></dt>
  <dd><%= @customer.surname %></dd>



  <dt><strong>Address:</strong></dt>
 <dd><%= @customer.address %></dd>



  <dt><strong>Date of birth:</strong></dt>
  <dd><%= @customer.date_of_birth %></dd>



  <dt><strong>Phone:</strong></dt>
  <dd><%= @customer.phone %></dd>



  <dt><strong>Emergency number:</strong></dt>
  <dd><%= @customer.emergency_number %></dd>



  <dt><strong>Username:</strong></dt>
  <dd><%= @customer.username %></dd>



  <dt><strong>Password:</strong></dt>
  <dd><%= @customer.password %></dd>


<p>
<% @customer.memberships.each do |customer| %> 
		<br >
		<strong> Membership ID: <%= customer.id%></strong> <br > 
		<strong> Start Date: </strong> <%= customer.date_created%>
		<strong> Expiry Date: </strong> <%= customer.expiry_date%>
 <% end %>
</p> 

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', root_path %>
